feedback.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="feedbackinfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="lecturer">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="effectiveness" type="xs:string" />
              <xs:element name="communication" type="xs:string" />
              <xs:element name="availability" type="xs:string" />
              <xs:element name="assignment" type="xs:string" />
              <xs:element name="organization" type="xs:string" />
              <xs:element name="approachable" type="xs:string" />
              <xs:element name="responding" type="xs:string" />
              <xs:element name="teaching" type="xs:string" />
              <xs:element name="interaction" type="xs:string" />
              <xs:element name="performance" type="xs:string" />
              <xs:element name="additionalcomment" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedInt" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>  
</xs:schema>
